@import-normalize;

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f7fa;
}

.app {
  width: 794px;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: start;
  grid-template-rows: 60px 20px 50px repeat(5, 184px) 50px;
  grid-auto-rows: 184px;
  grid-template-columns: 232px 502px;
  column-gap: 20px;
  row-gap: 18px;
  grid-template-areas:
    'main-logo main-logo'
    'spinner   spinner'
    'tr-filter cost-filter'
    'tr-filter tickets-container'
    '.         tickets-container'
    '.         tickets-container'
    '.         tickets-container'
    '.         tickets-container'
    '.         tickets-container';

  @media (max-width: 991px) {
    width: 100%;
    padding: 35px 0;
    grid-template-rows: 60px 20px 50px repeat(5, 184px) 50px;
    grid-template-columns: 232px 475px;
    column-gap: 15px;
    row-gap: 15px;
  }

  @media (max-width: 767px) {
    grid-template-rows: 60px 20px 164px 50px repeat(5, 184px) 50px;
    grid-template-columns: 400px;
    row-gap: 15px;
    grid-template-areas:
      'main-logo'
      'spinner'
      'tr-filter'
      'cost-filter'
      'tickets-container'
      'tickets-container'
      'tickets-container'
      'tickets-container'
      'tickets-container'
      'tickets-container';
  }

  @media (max-width: 575px) {
    padding: 15px 0;
    grid-template-columns: 340px;
  }
}
