.transfer-filter {
  $this: &;
  border-radius: 5px;
  width: 232px;
  height: 252px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  &__header {
    padding: 20px 20px 10px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__input-wrapper {
    position: relative;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    &:hover {
      background: #f1fcff;
    }
  }
  &__default-input {
    display: none;
    &:checked + #{$this}__custom-input {
      border-color: #2196f3;
    }
    &:checked + #{$this}__custom-input::before {
      content: '\2714';
      position: absolute;
      top: -3px;
      left: 2px;
      font-size: 16px;
      color: #2196f3;
    }
  }
  &__custom-input {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #9abbce;
    border-radius: 2px;
  }
  &__label {
    height: 20px;
  }
  &__label-text {
    position: absolute;
    top: 10px;
    left: 50px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
