.cost-filter {
  width: 502px;
  height: 50px;
  background-color: #fff;
  border-radius: 6px;
  &__item {
    $this: &;
    display: inline-block;
    padding: 0;
    background-color: #fff;
    width: calc(100% / 3);
    font-size: 12px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #dfe5ec;
    &:first-child {
      border-radius: 6px 0 0 6px;
      border-right: none;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:hover {
      background-color: #71b3e8;
      border-color: #71b3e8;
      color: #fff;
      cursor: pointer;
    }
    &:focus,
    &:active {
      background-color: #2196f3;
      border-color: #2196f3;
      color: #fff;
      cursor: pointer;
      outline: none;
    }
    &:nth-child(2):hover + #{$this}:last-child {
      border-left: 1px solid #2196f3;
    }
    &:first-child:hover + #{$this}:nth-child(2) {
      border-left: 1px solid #2196f3;
    }
  }
}
